.header {
    display: flex;
    justify-content: flex-end;
}

.link_wrapper {
    display: none;
    margin-left: auto;
}

.links {
    display: none;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: Montserrat;
    color: black;
    margin: 1rem;
}

.burger_menu {
    padding-top: 0.5rem;
    padding-right: 1rem;
}

.burger_menu > div {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(to right, #EAE9E4, #EAE9E4);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 0 100%;
    transition: background-size 1s ease-in-out;
}

.active_menu {
    background-size: 100% 100% !important;
}

.burger_menu > hr {
    width: 2.3em;
    height: 4px;
    background-color: gray;
    border: none;
    border-radius: 2px;

    transition: transform 1s ease-in-out;
}

.active_cross1 {
    transform: rotate(-45deg) translate(-8px, 9px);
}

.active_cross2 {
    transform: rotate(45deg);
}

.active_cross3 {
    transform: rotate(-45deg) translate(8px, -8px);
}

@media (min-width:40em) {
    .menu {
        display: flex;
    }

    .links {
        display: block;
    }

    .burger_menu {
        display: none;
    }
}