/* Works good for most sizes
but not for Galaxy Fold and
google Nest where font is
way to big.

TLDR: Font to big:
Galaxy Fold
Google Nest*/

:root {
    --landing-instruction: block;
    --landing-instruction-font: 1.3rem;
    --fs-600: 3rem;
    --fs-400: 2.5rem;
}

@media (min-width: 40em) {
    :root {
        --landing-instruction: block;
        --landing-instruction-font: 2rem;
        --fs-600: 6rem;
        --fs-400: 4rem;
    }
}

@media (min-width: 60em) {
    :root {
        --landing-instruction: none;
        --fs-600: 10rem;
        --fs-400: 6rem;
    }
}

.bg {
    background-image: url('../../Assets/Images/landing_image.svg');
    background-position: 75% 0;
    background-size: cover;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.text {
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: center;

    margin-left: 10%;
}

.text__welcome {
    cursor: default;
    font-family: Montserrat;
    font-size: var(--fs-400);
    color: white;
}

.text__option {
    font-family: Montserrat;
    font-size: var(--fs-600);
    font-weight: bold;
    
    text-decoration: none;
    color: white;

    padding-right: 10px;
    width: max-content;
    position: relative;
}

.text__option::before {
    content: "";
    background: white;

    position: absolute;
    bottom: 6%;
    left: 0;
    
    width: 100%;
    height: 8%;
    
    transform: scaleX(0);
    transform-origin: left;
    transition: all 350ms ease-in-out;
}

.text__option:hover::before {
    transform: scaleX(1);
}

.text__option::after {
    content: "→";
    padding-left: 2%;
}

.instruction {
    display: flex;
    height: 15%;
    width: 100%;

    justify-content: center;
}

.instruction_text {
    display: var(--landing-instruction);
    height: min-content;
    margin-top: auto;
    margin-bottom: 40px;

    color: black;
    font-family: Montserrat;
    font-weight: bold;
    font-size: var(--landing-instruction-font);
    font-size: 1.3rem;

    animation: upDown 2s linear infinite;
}

@keyframes upDown {
    0% {transform: translate(0, 5px)}
    50% {transform: translate(0, 0)}
    100% {transform: translate(0, 5px)}
}

p {
    margin: 0;
}