/* Works good for most sizes
but not for Galaxy Fold and
google Nest where font is
way to big.

TLDR: Font to big:
Galaxy Fold
Google Nest*/

:root {
    --landing-instruction: block;
    --landing-instruction-font: 1.3rem;
    --fs-600: 3rem;
    --fs-400: 2.5rem;
}

@media (min-width: 40em) {
    :root {
        --landing-instruction: block;
        --landing-instruction-font: 2rem;
        --fs-600: 6rem;
        --fs-400: 4rem;
    }
}

@media (min-width: 60em) {
    :root {
        --landing-instruction: none;
        --fs-600: 10rem;
        --fs-400: 6rem;
    }
}

.landing__background {
    background-image: url('../../Assets/Images/landing_image.svg');
    background-position: 75% 0;
    background-size: cover;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.text__wrapper {
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: center;

    margin-left: 10%;
}

.text__wrapper--intro {
    cursor: default;
    font-family: OpenSans;
    font-size: var(--fs-400);
    color: white;
}

.text__wrapper--name {
    font-family: Montserrat;
    font-size: var(--fs-600);
    font-weight: bold;
    
    text-decoration: none;
    color: white;

    padding-right: 10px;
    width: max-content;
    position: relative;
}

.text__wrapper--name::before {
    content: "";
    background: white;

    position: absolute;
    bottom: 6%;
    left: 0;
    
    width: 100%;
    height: 8%;
    
    transform: scaleX(0);
    transform-origin: left;
    transition: all 350ms ease-in-out;
}

.text__wrapper--name:hover::before {
    transform: scaleX(1);
}

.text__wrapper--name::after {
    content: "→";
    padding-left: 2%;
}

.landing__instruction {
    display: var(--landing-instruction);
    margin-top: 12%;
    text-align: center;

    color: black;
    font-family: OpenSans;
    font-weight: bold;
    font-size: var(--landing-instruction-font);

    animation: upDown 3s linear infinite;
}

@keyframes upDown {
    from {
        transform: translate(0, 5px)
    }

    50% {transform: translate(0, 0)}

    to {
        transform: translate(0, 5px)
    }
}

p {
    margin: 0;
}