html, body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide-active > .projekt1 {
    display: block;
}

.swiper-slide-active > .projekt4 {
    left: -50% !important;
}

.swiper-slide > .projekt4 {
    left: -400px;
}



.swiper-slide-active > img {
    filter: none !important;
}

.swiper-slide {
    width: 200px !important;
    font-size: 40px;
    background-color: #EAE9E4;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide > div {
    display: none;
}

.swiper-slide > img {
    filter: grayscale(1) opacity(40%) blur(1.5px);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.swiper-button-next,
.swiper-button-prev { 
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}

.swiper-slide-active{
    width: 600px !important;
}

.swiper-slide-active > div{
    display: grid;
    font-family: Montserrat;
    height: 100%;
    grid-template-rows: 1fr min-content min-content min-content;
    grid-gap: 1rem;

    box-shadow: inset 0 0 10px gray;
}

.swiper-slide-active > div > h2 {
    transform: rotate(-90deg);
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
}

.swiper-slide-active > div > .github_link {
    filter: invert(1);
    width: 64px;
    height: 64px;
    grid-row-start: 2;
    margin-left: 1rem;
}

.swiper-slide-active > div > .desc {
    grid-row-start: 3;
    margin-left: 1rem;
}

.swiper-slide-active > div > .method {
    font-size: x-large;
    font-style: italic;
    grid-row-start: 4;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

@media (max-width:40em) {
    .swiper-slide-active {
        width: 100vw !important;
    }

    .swiper-slide-active > div {
        grid-gap: 0.5rem;
    }

    .swiper-slide-active > div > .desc {
        font-size: x-large
    }

    .swiper-slide-active > div > .method {
        font-size: medium;
    }

    .swiper-slide-active > div > .github_link {
        width: 50px;
        height: 50px;
    }

    .swiper-slide-active > div > .github_link > img {
        width: 50px;        
    }
}